{
        "_id" : ObjectId("5c04b0afe1f81c28417ea45a"),
        "key" : "ltc_config",
        "ltc_wallet_config" : {
                "wallet_url" : "",
                "node_host" : "",
                "rpc_username" : "thisIsUserName123",
                "rpc_password" : "MIYl1vbBj46YJZuAHNwuHdlRhLp4SlH3PRbKIpmZC594IPWkFV+x6rpMm37IOJFS",
                "addHookUrl" : ""
        }
}
{
        "_id" : ObjectId("5b4f13e03b059883e1d0494d"),
        "key" : "simplex_config",
        "simplex_app_version" : "1",
        "simplex_url_get_quote" : "",
        "simplex_url_payment_request" : "",
        "simplex_url_event_polling" : "",
        "simplex_url_delete_event" : ""
}
{
        "_id" : ObjectId("5b3c8b893b059883e128aed5"),
        "key" : "ethereum_config",
        "isUpdatedAirdropEmailLowercase" : false,
        "default_show_claim_token" : false,
        "isExportKycData" : false,
        "default_allow_order" : 0,
        "maximum_request_per_minute" : 0,
        "allow_trading" : false,
        "withdraw_delay_time" : NumberLong(0),
        "check_login_ip" : false,
        "ethereum_host" : "http://68.183.120.12:30303",
        "default_gas_price_for_sending_eth" : "0x2540BE400",
        "default_gas_price_for_sending_token" : "0x2540BE400",
        "default_gas_price_for_sending_token_high_gas_limit" : "77359400",
        "default_gas_limit_for_sending_eth" : "0x927c0",
        "default_gas_limit_for_sending_eth_try" : "0xa410",
        "default_gas_limit_for_sending_token" : "0x927c0",
        "default_gas_limit_for_sending_token_try" : "0x249f0",
        "default_gas_limit_for_sending_token_high_gas_limt" : "0x927c0",
        "default_gas_limit_for_sending_token_high_gas_limt_try" : "0x6ddd0",
        "default_transaction_fee_for_sending_eth" : NumberLong(360000),
        "default_transaction_fee_for_sending_eth_try" : NumberLong(252000),
        "default_transaction_fee_for_sending_token" : NumberLong(600000),
        "default_transaction_fee_for_sending_token_high_gas_limit" : NumberLong(1800000),
        "add_hook_url" : "http://k-internal1/hooking/eth/addhook",
        "get_highest_block_url" : "http://k-internal1/hooking/eth/highestblock",
        "get_highest_server_url" : "http://k-internal1/hooking/eth/highestserver",
        "base_hook_request_url" : "https://k-hook.dev.coss.io/c/eth/hook/",
        "deposit_number_confirmations" : 12,
        "payment_deposit_number_confirmations" : 0,
        "admin_sign_ethereum_url" : "https://admin.dev.coss.io/admin/sign/eth/submit"
}
{
        "_id" : ObjectId("5b6d701ad922ec8da24f3b6e"),
        "key" : "donation_config",
        "donation_config" : {
                "default_backgrounds" : [
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685147932.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685207608.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685220688.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685236906.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685252243.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685264751.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685285664.png",
                        "https://storage.googleapis.com/kryptono-exchange/image_1535685302729.png"
                ],
                "default_fundi_link_dsc" : "Coss.io",
                "default_type" : "website"
        }
}
{
        "_id" : ObjectId("5b923dba0796b4d4af6ccb35"),
        "key" : "payment_config",
        "payment_config" : {
                "master_seller_account" : ""
        }
}
{
        "_id" : ObjectId("5b88f49dd922ec8da2e38e7f"),
        "key" : "stellar_config",
        "stellar_config" : {
                "stellar_server_host" : "",
                "stellar_server_send_transaction" : "",
                "stellar_network" : "mainnet",
                "base_fee" : 10000,
                "base_fee_in_stroops" : 100,
                "stellar_api_url" : ""
        }
}
{
        "_id" : ObjectId("5c00a8b7e1f81c2841c40bdb"),
        "key" : "lsk_config",
        "lsk_wallet_config" : {
                "wallet_url" : "http://coss-dev-k-hook:4904",
                "node_host" : "http://104.237.2.217:7000"
        }
}
{
        "_id" : ObjectId("5c00a7d5e1f81c2841c3e3b1"),
        "key" : "dash_config",
        "dash_wallet_config" : {
                "wallet_url" : "",
                "node_host" : ""
        }
}
{
        "_id" : ObjectId("5bac57b10796b4d4af742887"),
        "key" : "xrp_config",
        "xrp_config" : {
                "xrp_url" : "",
                "public_node" : ""
        }
}
{
        "_id" : ObjectId("5c00a8d1e1f81c2841c41098"),
        "key" : "bch_config",
        "bch_wallet_config" : {
                "wallet_url" : "",
                "node_host" : ""
        }
}
{
        "_id" : ObjectId("5bb711030796b4d4af14681a"),
        "key" : "twilio_config",
        "twilio_config" : {
                "waiting_time_every_request" : 30000,
                "max_request_per_30_minutes" : 10
        }
}
{
        "_id" : ObjectId("5bea8828624b79d1a4da8137"),
        "key" : "btc_config",
        "btc_wallet_config" : {
                "wallet_url" : "http://coss-dev-k-hook:4904",
                "node_host" : "http://node-btc:18332",
                "rpc_username" : "thisIsUserName@123",
                "rpc_password" : "thisIsPassword@321"
        }
}
{
        "_id" : ObjectId("5b9b89880796b4d4af9cc257"),
        "key" : "dust_config",
        "dust_config" : {
                "master_account_id" : "cc154395-20d3-46ff-a454-b1ff0b46ca4f",
                "default_exchange_currency" : {
                        "currency_code" : "COSS",
                        "exchange_fee_rate" : NumberLong(5000000)
                },
                "btc_threshold" : NumberLong(1000)
        }
}
{
        "_id" : ObjectId("5b0d16a2e24f202264f0b513"),
        "key" : "default_config",
        "isUpdatedAirdropEmailLowercase" : true,
        "default_show_claim_token" : false,
        "allow_ips" : [ ],
        "isExportKycData" : true,
        "default_allow_order" : 1,
        "maximum_request_per_minute" : 1000,
        "allow_trading" : true,
        "xmpp_config" : {
                "host" : "dev-chats.coss.io",
                "port" : 443,
                "service" : "dev.coss.io",
                "admin_account" : "admin",
                "admin_password" : "EomhZqEAPhJtTtDARGWL8PrY"
        },
        "redis_config" : {
                "host" : "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
                "port" : 6379,
                "max_pool" : 1000
        },
        "withdraw_delay_time" : NumberLong(120000),
        "default_api_key_status" : "enable",
        "captcha_mode" : "k-captcha",
        "check_login_ip" : true,
        "allow_cross_sub_domains" : [ ],
        "max_failed_2fa" : NumberLong(5),
        "max_failed_2fa_after_unlock" : NumberLong(1),
        "is_send_xmpp_for_bot" : true
}
{
        "_id" : ObjectId("5c00a8c1e1f81c2841c40da2"),
        "key" : "ark_config",
        "ark_wallet_config" : {
                "wallet_url" : "http://coss-dev-k-hook:4904",
                "node_host" : "http://167.114.29.51:4003"
        }
}
{
        "_id" : ObjectId("5b9d09d60796b4d4afd72470"),
        "key" : "eos_config",
        "eos_config" : {
                "wallet_url" : "",
                "eos_server" : ""
        }
}
{
        "_id" : ObjectId("5bf695c2e1f81c28416944bb"),
        "key" : "apcopay_config",
        "apcopay_config" : {
                "apcopay_redirection_url" : "/c/apcopay/thank-you",
                "apcopay_redirection_url_auth" : "/c/apcopay/thank-you2",
                "apcopay_failed_redirection_url" : "/c/apcopay/failed",
                "apcopay_deposit_status_url" : "https://c.dev.coss.io/c/apco/transaction_hook",
                "apcopay_withdraw_status_url" : "https://c.dev.coss.io/c/apco/withdraw",
                "apcopay_authorize_status_url" : "https://c.dev.coss.io/c/apco/deposit",
                "apcopay_secret_word" : "6dd313aa0e",
                "apcopay_profile_id" : "071BDB1D50544FAEA02927E220DAA4F5",
                "apcopay_fee" : NumberLong(8000000),
                "apcopay_withdrawal_fee" : NumberLong("2500000000")
        }
}
{
        "_id" : ObjectId("5c039666e1f81c2841497ed5"),
        "key" : "fsa_config",
        "fsa_config" : {
                "distribution_fee" : NumberLong(100000),
                "distribution_fee_currency" : "ETH",
                "total_coss_circulating_supply_visible" : NumberLong("11066132700000000")
        }
}
{
        "_id" : ObjectId("5bff7242e1f81c28418c1d3e"),
        "key" : "admin_config",
        "admin_config" : {
                "url_push_notification" : "",
                "url_verify_transaction" : "",
                "url_sign_transaction" : "",
                "secret" : "gxjhfgs84723fhsd",
                "sign_transaction_authorize_token" : "1a2de7f5607eec90a5a4b4d4bb1ff8fa",
                "network_info" : "mainet",
                "ethereum_admin_sign_address" : "0xd3B6F678B83A859b3676e3dD03061Fbc20845541",
                "ethereum_multisig_smart_contract_address" : "0xd1560b3984b7481cd9a8f40435a53c860187174d",
                "nem_admin_sign_address" : "Tkjfhskjdghfhsghdfhgsdgfsd",
                "nem_multisig_smart_contract_address" : "T8r72irjkdshfjkhsdjkf",
                "nem_multisig_public_key" : "hsgajhgasjdgasdghasgdjashgdjasgdhasd",
                "url_send_nem_transaction" : "",
                "url_sign_nem_transaction" : ""
        },
        "credit_fiat_balance_link" : "",
        "list_fiat_transaction_link" : "",
        "preview_fiat_deposit_transaction_link" : "",
        "update_withdrawal_status_link" : ""
}
{
        "_id" : ObjectId("5b4db6623b059883e1039612"),
        "key" : "server_config",
        "xpad_server_secret_key" : "abcxyz"
}
{
        "_id" : ObjectId("5b5feaf63b059883e1b0dd73"),
        "key" : "export_data_config",
        "botAccountIds" : [ ]
}
{
        "_id" : ObjectId("5c00a8cae1f81c2841c40f28"),
        "key" : "prsn_config",
        "prsn_wallet_config" : {
                "wallet_url" : "",
                "node_host" : ""
        }
}
{
        "_id" : ObjectId("5b64146b758fea954d3cde68"),
        "key" : "square_config",
        "square_config" : {
                "address_line" : "",
                "administrative_district" : "",
                "locality" : "",
                "postal_code" : "",
                "country" : "",
                "charge_payment_url" : "",
                "retrive_transaction_url" : "",
                "redirect_url" : ""
        }
}
{
        "_id" : ObjectId("5c8f663650ccdadc87c789a7"),
        "key" : "neo_config",
        "neo_wallet_config" : {
                "wallet_url" : "http://coss-dev-k-hook:4905",
                "node_host" : "http://seed5.neo.org:20332"
        }
}
{
        "_id" : ObjectId("5cd13525210646691ed24f51"),
        "quick_buy_server" : "ops.coss.io",
        "quick_buy_quote_endpoint" : "/quick-buy/quote",
        "quick_buy_trade_endpoint" : "/quick-buy/trade"
}
