{
        "_id" : ObjectId("5b0d16a2e24f202264f0b513"),
        "key" : "main_config",
        "redis_config" : {
                "host" : "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
                "port" : 6379
        },
        "web1_config" : {
                "url" : "dev-web1.apeg.com",
                "port" : 443
        }		
}
